<!-- Create your form here -->
<%=form_tag sudents_path do%>
  <label for="first_name"></label>
  <%=text_field_tag :'first_name'%>

  <label for="last_name"></label>
  <%=text_field_tag :'last_name'%>

  <%=submit_tag "Submit Student"%>
<%end%>
